@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Kanit', sans-serif;
}

.content{
  margin: clamp(1rem,2%, 2rem) clamp(1rem,5%,10rem);
}

/* p{
  font-size: 1.2rem;
} */

/* header */

header {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  position: sticky;
  z-index: 2;
  height: 100px;
  top: 0;
  /* background-color: #17171735; */
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(172deg, rgba(0, 0, 0, 0.709) 0%, rgba(0, 0, 0, 0.769) 49%, rgba(166, 0, 255, 0.7) 100%);
  border-bottom: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
}

.navbar ul {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  
}
.navbar ul li {
  margin-right: 1.5rem;
}

.logo{
  width: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* footer */

footer{
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
}

.footerTop{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerTop p{
  margin-top: 1rem;
}

.icons{
  color: #ffffff;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-around;
  font-size: 2rem;
}
.copyright{
  background-color: #000;
  padding: .1rem;
}

footer h3{
  font-weight: bold;
  text-transform: uppercase;
}

.footerDescription{
  max-width: 392px;
}
.footerDescription1{
  max-width: 392px;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* main page */

.hero{
  background-image: url(/img/coding-hero.jpg);
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroContact{
  background-image: url(/img/pexels-photo-1181271.webp);
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 3px 7px #000000;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
  text-shadow: 0px 3px 7px #000000;
}

body{
  color: #fff;
  width: 100%;
  height: 100vh;
  background-size: 500% 500%;
  background-image: linear-gradient(-45deg, rgb(123, 0, 255) 0%, rgb(0, 0, 0) 25%, rgb(4, 0, 255) 51%, #000000 100%);
  -webkit-animation: AnimateBG 30s ease infinite;
          animation: AnimateBG 30s ease infinite;

}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

 .skill h2 {
  padding: 2.5rem;
  font-size: clamp(1rem, 3vh ,3rem);
  font-weight: bold;
  text-align: center;
}
 .project h2 {
  padding: 2.5rem;
  font-size: clamp(1rem, 3vh ,3rem);
  font-weight: bold;
  text-align: center;
}

.skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-items: baseline;
  font-size: 1.5rem;
}

.skill img{
  max-width: 5em;
  max-height: 5em;
}

.skills div{
  margin: 1rem;
}

.skill{
  margin: 2rem;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(-42deg, rgba(25, 0, 255, 0.378) 0%, rgba(255, 255, 255, 0.25) 49%, rgba(230, 0, 255, 0.378) 100%);
  border: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
}


.about{
  display: flex;
  /* align-items: center; */
  padding: 3em;
  margin: 2rem;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(-42deg, rgba(25, 0, 255, 0.378) 0%, rgba(255, 255, 255, 0.25) 49%, rgba(230, 0, 255, 0.378) 100%);
  border: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
}

 .topAbout{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
}


.photo{
  max-width: 300px;
}

.about img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: solid 3px #00000013;
}

.hero img {
    max-height: 500px;
}




/* contact */


.contactMain{
  display: flex;
  margin: 1rem ;
  margin-top: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(-42deg, rgba(25, 0, 255, 0.378) 0%, rgba(255, 255, 255, 0.25) 49%, rgba(230, 0, 255, 0.378) 100%);
  border: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
}


.contactForm{
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin-left: 2rem;
}

.contactLeft{
  max-width: 500px;
}

.contactLeft h2{
    font-size: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
}

.nameSociety{
  display: flex;
  flex-wrap: wrap;
}

.mailPhone{
  display: flex;
  flex-wrap: wrap;
}

span{
  font-weight: bold;
}

.contactButton {
  display: flex;
  flex-direction: column;
}
button{
  background-color: #a3a3a332;
  margin: 1rem;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 200px;
  border-radius: 10px;
  padding-left: 1em;
  padding-right: 1em;
}

button:hover{
  background-color: #a601bf5b;
}

input{
  border: solid 1px #9e9e9e;
  border-radius: 10px;
  margin: 0.5rem;
  width: clamp(50px,100% ,625px);
  height: 2.5rem;
  color: #000;
}

textarea{
  color: #000;
  border-radius: 10px;
}

#message{
  height: 300px;
}


.home{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* card */

.card {
  position: relative; /* Ajout d'une position relative */
  display: flex;
  height: 450px;
  max-width: 450px;
  flex-direction: column;
  margin: .2rem;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  color: #fff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(-42deg, rgba(25, 0, 255, 0.378) 0%, rgba(255, 255, 255, 0.25) 49%, rgba(230, 0, 255, 0.378) 100%);
  border: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
}

.card:hover {
  transform: translateY(-15px);
}

.card Img {
  width: 100%;
  object-fit: cover;
}
figure{
  position: relative;
  overflow: hidden;
  background-color: #00000047;
}

figcaption {
  display: none; 
  font-weight: bold;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: opacity 0.3s ease-in-out;
}

.card:hover figcaption {
  display: block; 
  opacity: 1; 
  transition: opacity 0.3s ease-in-out;
}


.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* slug */
.slugMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(-42deg, rgba(25, 0, 255, 0.378) 0%, rgba(255, 255, 255, 0.25) 49%, rgba(230, 0, 255, 0.378) 100%);
  border: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
  margin: 2rem;
}

hr {
  color: #1c1c1c;
}

.technicalSheet{
  background-color: #1111113f;
  display: flex;
  flex-wrap: wrap;
}

.technicalTab{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.slug img{
  width: 100%;
  object-fit: cover;
  height: 750px;
}

.slugRight{
  color: #ffffff;
  margin-top: 7rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.slugRight span{
  color: #ffffff;
}

.slugLeft {
  max-width: 700px;
  margin-right: 3rem;
  margin-bottom: 4rem;
  margin-left: 1rem;
}

.slugLeft h2 {
  font-weight: bold;
  font-size: 2rem;
  color: #ffffff;
}

.slugLeft h3 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 0 auto; */
  margin-top: 5em;
  margin-bottom: 5em;
}

.thumbnails a {
  display: block;
  width: 270px;
  height: 270px;
  margin: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.452);
  background: linear-gradient(-42deg, rgba(25, 0, 255, 0.378) 0%, rgba(255, 255, 255, 0.25) 49%, rgba(230, 0, 255, 0.378) 100%);
  border: solid 3px #00000013;
  box-shadow: -8px 2px 41px 10px rgba(0,0,0,0.64);
  }
  
  .thumbnails img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .thumbnails a:hover{
    transform: scale(1.1);
  }

@media(min-width:500px){

.nameSociety{
  flex-wrap:nowrap;
}

.mailPhone{
  flex-wrap: nowrap;
}

}
  @media (min-width: 1100px){
    .slugLeft{
      margin-left: 0;
    }
    .slugRight{
      margin-left: 0;
      margin-right: 0;
    }
  }