@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: 'Montserrat', sans-serif;
}

.content{
  margin: clamp(1rem,2%, 2rem) clamp(1rem,5%,10rem);
}
.content2{
  margin: 1rem 10%;
}

header {
  display: flex;
  justify-content: space-between;
  /* background-color: #505050; */
  color: #000;
  align-items: center;
  position: sticky;
  height: 100px;
  top: 0;
  background-color: #fff;
}

.navbar ul {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  
}
.navbar ul li {
  margin-right: .5rem;
}

.logo{
  width: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
}

footer{
  background-color: #1c1c1c;
  color: #939393;
  text-align: center;
}

.footerTop{
  display: flex;
  align-items: center;
  padding-top: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footerTop p{
  margin-top: 1rem;
}

.icons{
  color: #fff;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-around;
}
.copyright{
  background-color: #000;
  padding: .1rem;
}

.hero{
  background-image: url(/img/coding-hero.jpg);
  background-size: cover;
  height: 400px;
}
.heroContact{
  background-image: url(/img/coding-hero.jpg);
  background-size: cover;
  height: 400px;
}


h1{
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 0px 3px 16px #000000;
    text-align: center;
    font-weight: bold;
}
.heroContact h2{
    color: #ffffff;
    font-size: 3rem;
    text-shadow: 0px 3px 16px #000000;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

footer h3{
  font-weight: bold;
  text-transform: uppercase;
}

.hero img {
    max-height: 500px;
}
.heroContact img {
    max-height: 500px;
}

.technicalSheet{
  background-color: #939393;
  display: flex;
  flex-wrap: wrap;
}

.technicalTab{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footerDescription{
  max-width: 392px;
}
.footerDescription1{
  max-width: 392px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactMain{
  display: flex;
  margin: 1rem ;
  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}



.contactForm{
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin-left: 2rem;
}

.contactLeft{
  max-width: 500px;
}

.contactLeft h2{
    font-size: 3rem;
    margin-bottom: 1rem;

}

span{
  font-weight: bold;
}

.contactButton {
  display: flex;
  flex-direction: column;
}
.contactButton button{
  background-color: #1c1c1c;
  margin: 1rem;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 200px;
}

input{
  border: solid 1px #000;
  margin: 0.5rem;
  width: clamp(50px,100% ,500px);
  height: 2.5rem;
}

#message{
  height: 300px;
}

.home{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.card {
  display: flex;
  height: 350px;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-15px);
}

.cardImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}
figure{
  position: relative;
}

/* figcaption{
  position:;
  
} */

figcaption:hover {
  transform: scale(1.1);

}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.slugMain{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.slug img{
  width: 100%;
  object-fit: cover;
  height: 750px;
}

.array{
  color: #939393;
}

.array span{
  color: #676767;
}

.slugLeft{
  max-width: 700px;
  margin-right: 3rem;
  margin-bottom: 4rem;
}

.slugLeft h2{
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.carousel img {
  width: 100%;
  padding: .1rem;
}


